<%- include('../../partials/header.ejs', {pageTitle: 'Inbox' }); %>

<link rel="stylesheet" href="/public/css/style.css">
<link rel="stylesheet" href="/public/css/inbox.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="mainContainer">
    <div class="content">
        <center>
            <h1>Inbox Page</h1>
        </center>
        <div class="inboxContainer" id="inboxContainer">
            <!-- Notifications will be inserted here -->
        </div>
    </div>
</div>

<script src="/public/clientJS/inbox.js"></script>

<%- include('../../partials/footer.ejs') %>