#timegrid-page-container {
    display: none;
    position: relative;
}

#calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #a3a378;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav-button {
    background-color: #4a4036;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #332c25;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 100%;
}

.week-days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.week-day {
    background-color: #4a4036;
    color: rgb(204, 200, 200);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.week-day:not(.selected-day):hover {
    background-color: #332c25;
    cursor: pointer;
}

.day {
    background-color: rgb(197, 197, 197);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.day:not(.custom-day):hover {
    background-color: #a5a5a5;
    cursor: pointer;
}

.custom-day {
    background-color: #5c7a9c;
    color: white;
}

.custom-day:hover {
    background-color: #455b75;
    cursor: pointer;
}