:root {
    --header-color:  #8d58b1c4;
}

.header {
    height: 50px;
    background-color: var(--header-color);
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
}

.headerButton {
    background-color: #ffffff;
    margin: 5px; /* Reduced margin */
}

.headerButton:hover {
    background-color: #ddd;
}

#logo {
    width: 250px;
    display: block;
    position: absolute;
    left: 0px;
    user-select: none;
}

#logo:hover {
    cursor: pointer;
}

#logoLink {
    text-decoration: none;
}

#coinCount {
    margin-right: 25px;
}

.headerIcon {
    width: 20px;
    height: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8d58b1c4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    animation: slideUp 0.3s ease-in;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #5c2f7ac4;
}

.show {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-10px); }
}