.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a3a378; /* Matches your design */
}

.content {
    text-align: center;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #4a4036;
}

.form-input {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
}

.form-input:focus {
    border-color: #a3a378;
    outline: none;
}

.form-button {
    padding: 10px 20px;
    background-color: #a3a378;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.form-button:hover {
    cursor: pointer;
    background-color: #858561;
}

.form-button:active {
    position: relative;
    top: 1px;
}