.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.content {
    text-align: center;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
}

.form-input {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
}

.form-input:focus {
    border-color: #a3a378;
    outline: none;
}

.form-button {
    padding: 10px 20px;
    background-color: #a67fb3;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: background-color 0.3s;
}

.form-button:hover {
    cursor: pointer;
    background-color: #7b5186c9;
}

.form-button:active {
    position: relative;
    top: 1px;
}