.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.content {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#choosePrompt {
    font-size: 1.8em;
    color: #ffffff;
    margin-bottom: 20px;
}

.loginButton {
    font-size: 1.2em;
    width: 200px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.loginButton:hover {
    transform: scale(1.05);
    background-color: #ba8dcc77;
    color: rgb(255, 255, 255);
}