<%- include('../../partials/header.ejs', {pageTitle: 'About' }); %>

    <link rel="stylesheet" href="/public/css/home.css">

    <div class="mainContainer">
        <div class="content">

            <center>
                
                <p>
                    <h1>CREATE AN MESSAGE BOARD</h1>

                    <form action="/event/createEventMB" method="POST">
                        <label for="name">Board Name:</label><br>
                        <input type="text" id="name" name="name" required><br><br>
                        <input type="submit" value="Create Message Board">
                        <input type="submit" value="Cancel" onclick="window.location.href='/test'">
                        
                </p>

            </center>

        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>