<%- include('../../partials/header.ejs', {pageTitle: 'Choose Login Type' }); %>

    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/loginPrompt.css">

    <div class="mainContainer">
        <div class="content">
            <center>
                <h1 id="choosePrompt">Choose login type below</h1>

                <a href="/user/formbar"><button class="loginButton">Formbar OAuth</button></a>

                <a href="/user/WFMlogin"><button class="loginButton">Works For Me</button></a>
            </center>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>