<%- include('../partials/header.ejs', {pageTitle: 'About' }); %>

    <link rel="stylesheet" href="/public/css/home.css">

    <div class="mainContainer">
        <div class="content">

            <center>
                
                <p>
                    <h1>CREATE AN EVENT</h1>

                    <form action="/event/createEvent" method="POST">
                        <label for="name">Event Name:</label><br>
                        <input type="text" id="name" name="name" required><br><br>

                        <label for="description">Description:</label><br>
                        <textarea id="description" name="description"></textarea><br><br>

                        <input type="submit" value="Create Event">
                        <input type="submit" value="Cancel" onclick="window.location.href='/test'">
                        
                </p>

            </center>

        </div>
    </div>
    <%- include('../partials/footer.ejs') %>