<%- include('../partials/header.ejs', {pageTitle: 'About' }); %>

    <link rel="stylesheet" href="/public/css/home.css">
    
    <div class="mainContainer">
        <div class="content">
            
            <center>
                <h1>page for certain events</h1>
                
            </center>

        </div>
    </div>
    <%- include('../partials/footer.ejs') %>