<%- include('../partials/header.ejs', {pageTitle: 'About' }); %>

    <link rel="stylesheet" href="/public/css/home.css">

    <div class="mainContainer">
        <div class="content">
            
            <center>
                <h1>Events</h1>
                <p>here are the current event you are involved in:</p>
                <!--put the events the user is involved in here-->
                <% events.forEach(function(event) { %>
                    <div class="event">
                        <h2><%= event.name %></h2>
                        <p><%= event.description %></p>
                    </div>
                <% }); %>
            </center>

        </div>
    </div>

    <%- include('../partials/footer.ejs') %>