<%- include('../partials/header.ejs', {pageTitle: 'About' }); %>

    <link rel="stylesheet" href="/public/css/home.css">

    <div class="mainContainer">
        <div class="content">

            <center>
                <h1>Events</h1>
                <!--button to make an event-->
                <button onclick="window.location.href='/event/createEvent'">Create Event</button>
            </center>

        </div>
    </div>
    
    <%- include('../partials/footer.ejs') %>