<%- include('../partials/header.ejs', {pageTitle: 'temp test page' }); %>

    <div class="mainContainer">
        <div class="content">

            <center>

                <h1>Works For Me</h1>

                <% if(isLoggedIn) { %>
                    <h2>Welcome, <%= user.username %>
                    </h2>
                    <% } %>

            </center>

        </div>
    </div>

    <%- include('../partials/footer.ejs') %>